@import "tailwindcss";

html, body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-rainbow {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #ED7474 0%,
    #FFF89A 63%,
    #B5EAD7 83%,
    #A7C7F7 100%
  );
}
.main_container {
  display: grid;
  grid-template-areas: 'hello login login';
}

.hello {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  align-content: center;
  grid-template: hello;
}

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template: login;
}

.login svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gradient-border {
  border: 3px solid transparent;
  border-image: linear-gradient(90deg, #f9b233, #ef4fa6) 1;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.favicon {
  display: inline;
  margin-right: 10px;
  width: 20px;
  height: auto;
}

@media only screen and (max-width: 1100px) {
  .main_container {
    display: grid;
    grid-template-areas: 
    'hello'
    'login';
  }
}