@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Montserrat', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-surface: #F7F4E6;
}

@utility bg-brand-gradient {
  background: linear-gradient(124.96deg, --alpha(#F7FF00 / 100%) -40.87%, --alpha(#DB36A4 / 100%) 92.26%);
}

@utility bg-brand-gradient-soft {
  background: linear-gradient(124.96deg, --alpha(#F7FF00 / 50%) -40.87%, --alpha(#DB36A4 / 50%) 92.26%);
}

html, body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-rainbow {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #ED7474 0%,
    #FFF89A 63%,
    #B5EAD7 83%,
    #A7C7F7 100%
  );
}
