@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Montserrat', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-beige-50: #F7F4E6;
  --color-beige-100: #eeebdd;
  --color-beige-200: #EAE8DE;
  --color-beige-300: #D5D1C0;
  --color-beige-400: #B6B096;
  --color-beige-500: #968F70;
  --color-beige-600: #878166;
  --color-beige-700: #78735A;
  --color-beige-800: #69644F;
  --color-beige-900: #4B4838;

  --color-surface: var(--color-beige-50);
}

@utility bg-brand-gradient {
  background: linear-gradient(124.96deg, --alpha(#F7FF00 / 100%) -40.87%, --alpha(#DB36A4 / 100%) 92.26%);
}

@utility bg-brand-gradient-soft {
  background: linear-gradient(124.96deg, --alpha(#F7FF00 / 50%) -40.87%, --alpha(#DB36A4 / 50%) 92.26%);
}

@utility bg-brand-gradient-softer {
  background: linear-gradient(124.96deg, --alpha(#F7FF00 / 50%) -40.87%, --alpha(#DB36A4 / 30%) 92.26%);
}

html, body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-rainbow {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #ED7474 0%,
    #FFF89A 63%,
    #B5EAD7 83%,
    #A7C7F7 100%
  );
}
.main_container {
  display: grid;
  grid-template-areas: 'hello login login login';
}

.hello {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  align-content: center;
  margin: 10px;
  border-radius: 12px;
  grid-area: hello;
}

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: login;
}



.gradient-border {
  border: 3px solid transparent;
  border-image: linear-gradient(90deg, #f9b233, #ef4fa6) 1;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.favicon {
  display: inline;
  margin-right: 10px;
  width: 20px;
  height: auto;
}

@media only screen and (max-width: 1100px) {
  .main_container {
    display: grid;
    grid-template-areas: 
    'hello'
    'login';
  }
}