POSTGRES_DB=playforward-prod
POSTGRES_USER=<<DB_USERNAME_CHANGE_ME>>
POSTGRES_PASSWORD=<<DB_PASSWORD_CHANGE_ME>>
DATABASE_URL=postgresql://<<DB_USERNAME_CHANGE_ME>>:<<DB_PASSWORD_CHANGE_ME>>@prod-db:5432/playforward-prod
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=<<SUPERUSER_EMAIL_CHANGE_ME>>
DJANGO_SUPERUSER_PASSWORD=<<SUPERUSER_PASSWORD_CHANGE_ME>>
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY="<<GENERATE_A_RANDOM_SECRET_KEY_CHANGE_ME>>"
DJANGO_ALLOWED_HOSTS=localhost,<<YOUR_DOMAINS_HERE>>
DJANGO_DEBUG=true
